<div style="max-width: 300px; position: relative">
    <div mat-dialog-title>
        <div class="ms-flex">
            <h2 class="title-login">
                Hola, cheese lover. 🧀💚<br>
                Necesitamos que te registres
            </h2>
            <span class="ms-fill"></span>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

    </div>
    <div mat-dialog-content>
        <form [formGroup]="dataFormGroup">
            <mat-form-field class="w3-block w3-small" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput type="email" autocapitalize="none"
                    formControlName="email" placeholder="Correo electrónico" autocomplete="off">
                <mat-error>
                    <span *ngIf="dataFormGroup.get('email').errors?.required">Usuario requerido</span>
                    <span *ngIf="dataFormGroup.get('email').errors?.email">Email no válido</span>
                    <span *ngIf="dataFormGroup.get('email').errors?.googleLogin">
                        Haga click en Ingresar con Google.</span>
                        <span *ngIf="dataFormGroup.get('email').errors?.facebookLogin">
                            Haga click en Ingresar con Facebook.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w3-block w3-small" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePass ? 'password' : 'text'" 
                    formControlName="pass" placeholder="***" autocapitalize="none"
                    autocomplete="off">
                <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error style="display: flex; flex-direction: row; justify-content: space-between;">
                    <span *ngIf="dataFormGroup.get('pass').errors?.required">Contraseña requerido</span>
                    <span *ngIf="dataFormGroup.get('pass').hasError('minlength')">Mínimo 6 caracteres</span>
                    <span *ngIf="registerLogin$ | async" class="password" (click)="passwordReset()"> Olvidé mi contraseña</span>
                </mat-error>
                <mat-hint *ngIf="registerLogin$ | async" align="end">
                    <span class="password" (click)="passwordReset()"> Olvidé mi contraseña</span>
                </mat-hint>
            </mat-form-field>
        </form>

        <button *ngIf="(registerLogin$ | async) else loginButton" mat-raised-button 
            color="accent"
            class="w3-block w3-margin-bottom w3-margin-top"
            [disabled]="!dataFormGroup.valid" (click)="login()">
            Ingresar
        </button>
        <ng-template #loginButton>
            <button mat-raised-button 
                color="basic"
                class="w3-block w3-margin-bottom w3-margin-top"
                [disabled]="!dataFormGroup.valid" (click)="registerUser()">
                Registrarse
            </button>
        </ng-template>

        <div class="w3-margin-top">
            <button mat-raised-button class="w3-block w3-margin-bottom social social--google"
                (click)="auth.signIn('google')">
                Ingresar con <strong>Google</strong>
            </button>
            <button mat-raised-button class="w3-block w3-margin-bottom social social--facebook"
                (click)="auth.signIn('facebook')">
                Ingresar con <strong>Facebook</strong>
            </button>
            <p *ngIf="auth$ | async"></p>

        </div>
    </div>
    <div mat-dialog-actions align=end>
        <span style="color: grey">{{version}}</span>
    </div>
</div>
